@font-face {
    font-family: KanitEL;
    src: url(Kanit-ExtraLight.ttf);
}

@font-face {
    font-family: KanitELI;
    src: url(Kanit-ExtraLightItalic.ttf);
}

@font-face {
    font-family: KanitM;
    src: url(Kanit-Regular.ttf);
}

body{
    margin: 25px 8px 8px 8px;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    margin-bottom: 5px;
    font-family:"KanitM";
}

h2{
    font-size: 20px;
    font-family: "KanitEL";
}

hr{
    background-color: white;
    border: none;
    height: 3px;
}

select{
    padding: 3px;
    display: block;
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,.31);
    border: 2px solid transparent;
    font-family: "KanitEL";
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

span{
    color: red;
}

label{
	font-size: 15px;
    margin-left: 5px;
    color: #05060f99;
    font-weight: bold;
    font-family: "KanitEL";
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

input{
    height: 22px;
    width: 100%;
    padding: 3px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,.31);
    border: 2px solid transparent;
    font-family: "KanitEL";
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover, input:focus, select:hover, select:focus{
    border-color: #000000;
}

.div-input:hover label, .div-input:hover input, .div-input:hover select{
    color: #000000;
    border-color: #000000;
}

label:focus-within{
    color: #000000;
}

#main{
    width: 70%;
    max-width: 600px;
    background-color: #ebebeb;
    border-radius: 25px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#naslov{
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 25px;
}

#bar {
    margin-bottom: 0px;
    counter-reset: step;
}

#bar li{
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "KanitELI";
    font-weight: bold;
    width: 33%;
    float: left;
    position: relative;
}

#bar li:before{
    content: counter(step);
    counter-increment: step;
    width: 25px;
    line-height: 25px;
    display: block;
    font-size: 12px;
    color: black;
    background: white;
    border-radius: 3px;
    border: 0.5px black solid;
    margin: 0 auto 5px auto;
}

#bar li.selected:before {
    color: white;
    background: #c8c3c3;
}

#podnaslov, #podnaslov2{
    border-radius: 15px;
    padding: 8px 8px 8px 20px;
    margin-left: 30px;
    height: 22px;
    line-height: 22px;
    width: 65%;
    box-shadow: 4px 4px 10px rgba(0,0,0,.40);
}

#osebniPod{
    padding: 20px;
    margin: 0 auto 10px auto;
    width: 75%;
}

#ime, #priimek{
    width: 45%;
    display: inline-block;
	margin-bottom: 15px;
}

#ime{
    margin-right: 20px;
}

#drzavaTel{
    display: inline-block;
    margin: 0px 5px 15px 0px;
}

#telSt{
    display: inline-block;
    width: 30%;
}

#email{
    width: 70%;
}

#naslovO{
    padding: 20px;
    margin: 0 auto;
    width: 75%;
    height: 20%;
}

#ulica{
    width: 80%;
    margin-bottom: 15px;
}

#postnaKraj{
    width: 80%;
}

#postnaSt{
    display: inline-block;
    width: 30%;
    margin-right: 20px;
}

#mesto{
    display: inline-block;
    width: 50%;
    margin-bottom: 0px;
}

#gumb{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#gumb-input{
    height: 30px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 17px;
    border-radius: 5px;
}